.reset-a () {
  text-decoration: none;
  color: inherit;
  border-bottom: none;
}

.line-emboss () {
  box-shadow: rgba(255, 255, 255, 0.0664062) 0px 1px 0px 0px;
}

.text-shadow (@col) {

}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @alpha) {
  @val: @x @y @blur rgba(0, 0, 0, @alpha);

  box-shadow:         @val;
  -webkit-box-shadow: @val;
  -moz-box-shadow:    @val;
}

.rounded (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -khtml-border-radius: @radius;
  border-radius: @radius;
}
.box { @base: #f938ab;
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0, 0, 5px, 0.4) }
}

.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.dark-dugout () {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}

body.dark {
  background: #2F2F2F;
  color: white;
  input[type=text], input[type=password] {
    .dark-dugout();
  }

  h1 .less-important {
      color: darken(#FFFFFF, 60%);
      font-size: 0.7em;
  }
}

body {
  margin:0;
  font-size:16px;
  font-family:  'trebuchet ms', 'tahoma', arial, georgia;
}
#container {
  width: 780px;
  margin: 0px auto;
}

input[type=text], input[type=password] {
  height: 22px;
  width: 130px;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  .rounded(4px);
}

h1.title {
  text-align: center;
  font-size:  5em;
  text-shadow: #1f1f1f 4px 4px 3px;
  margin: 0;
}

ul#nav {
  list-style: none;
  padding: 0;
  height: 22px; 
  padding: 24px 0;
  font-size: 22px;
  border-bottom: 4px #121212 solid;
  position: relative;
  .line-emboss();
  li {
    display: inline;
    margin: 10px 0;
    margin-right: 22px;
    a {
      .reset-a();
    }
    a:hover {
      color: #FB292D;
      text-decoration: underline;
    }
  }
  form.login {
    float: right;
    position: absolute;
    right: 0;
    top: 26%;
  }
  input {
    display: inline;
  }
}

h2 {
  font-weight: normal;
  font-size: 1.8em;
}

strong {
  color: #FB292D;
  font-weight: inherit;
}

h2.subtitle {
  text-align: center;
  a {
    color: #DADBB1;
  }
}

h2 {
  border-bottom: 1px #121212 solid;
  padding-bottom: 10px;
  .line-emboss();
}

a {
  .reset-a();
  color: #84BCDE;
}

a:hover {
  border-bottom: 1px solid;
}

div.dugout {
  .dark-dugout();
}

.icon {
  margin: 0 10px;
  font-family: Monaco, monospace, courier;
  font-weight: bold;
  font-size: 120%;
}

.col-one, .col-two {
  padding: 0 20px 10px 20px;
}
.col-one p, .col-two p{
  font-size: 19px;
  color: #c9c9c9;
}
.col-one {
  float: left;
  width: 345px;
  .rounded(4px);
}

.col-two {
  float: left;
  margin-left: 10px;
  width: 345px;
  .rounded(4px);
}

hr {
  border: none;
  clear: both;
  display: block;
}
.clear {
  clear: both;
  height: 20px;
}

.signup-link {
  text-align: center;
  font-size: 2.4em;
  color: #555;
}

.instructions {
  font-size: 33px;
  text-align: center;
  font-family: georgia, 'dejavu serif';
  .number {
    font-size: 180%;
    color: #555
    ;
  }
}

hr {
  .line-emboss();
  border-bottom: 1px solid black;
  margin: 10px 0;
}

.footer {
  text-align: center;
  font-weight: bold;
  span {
    font-weight: normal;
    color: #777;
    font-size: 15px;
    font-family: georgia;
    a {
      color: #999;
    }
  }
  min-height: 30px;
}

h1.notfoundmsg {
    text-align: center;
    font-weight: normal;
    font-family: georgia;
}

form#signup{
  label {
    display: inline;
    width: 400px;
    float: left;
    height: 25px;
    text-align: right;
    margin-right: 12px;
    font-size: 22px;
  }
  input {
    display: block;
    height: 25px;
    margin-top: 12px;
    .rounded(4px);
    background: #717171;
  }
  input[type=submit] {
    background: #212121;
    color: white;
    font-size: 22px;
    height: 30px;
    border: none;
  }
}

table.fullwidth {
	width: 760px;
	margin: 0 auto;
}

table.fullwidth tbody td {
	background: #222222;
	padding: 8px 15px;
	text-align: center;
}
table.fullwidth thead td {
	background: #111111;
	text-align: center;
	padding: 8px 15px;
	font-weight: bold;
}

dl.profile dt {
	font-weight: bold;
	width: 150px;
	text-align: right;
	margin-right:20px;
	float:left;
}

dl.profile {
	width: 600px;
	margin: 20px auto;
}

fieldset {
	border: none;
}

form.upload_form input {
	height: 40px;
	font-weight: bold;
}
