{% extends "layout.html" %}
{% block content %}
<header>
	{% include "logo.html" %}
</header>
<h2 class="subtitle"><strong>KodeKombat</strong> is the online
    <abbr title="Artificial Intelligence">AI</abbr> contest at
    <a title="Engineer is the annual technical fest of National Institute of Technology Karnataka, Surathkal" href="http://engineer.org.in/">Engineer 2011</a>.
</h2>

<h3> <font color="red">Starter Package for C/C++</font></h3>
<p><b>Latest Version:</b><br><br>
<a href="{{ config.webroot }}/pacman-kk-v0.2.tar.gz">Click to download the latest version</a></p>

<p><b>Earlier Versions:</b><br><br>
<a href="{{ config.webroot }}/pacman-kk-v0.1.zip">Click to download version1</a>
</p>
<center><h4 class="subtitle"><font color="red">Note: </font>Last date to upload or change bot is 2359hours, 29th October 2011.</h4></center><br/>


{% endblock %}

