{% extends "layout.html" %}
{% block content %}
<header>
		{% include "logo.html" %}
</header>
<body>
<p><br><br><b><li></b>&nbsp;Which languages can I submit my bot in?</li>
<b>Ans: </b>&nbsp;You can submit your bot in any language you like. In case we are not able to get it's interpretter/compiler, you should be able to point us to an interpretter for your program. The current starter pack supports only C/C++. Feel free to download the source code and make the necessary tweaks for your langauge. Else, please wait till the next release to be updated soon.<br><br>
<li>Will my bot work when the engine is updated?</li>
<b>Ans: </b>&nbsp;Yes. We will take care to make sure all engines are backward compatible.<br><br>
<li>Will my ranking matter if I submit earlier or later?</li>
<b>Ans: </b>&nbsp;No, you always play enough games till your ranking stabilizes.<br>
</p>
</body>
{% endblock %} 
