{% extends "layout.html" %}
{% block content %}
<header>
	{% include "logo.html" %}
</header>
<h2 class="subtitle"><strong>KodeKombat</strong> is the online
    <abbr title="Artificial Intelligence">AI</abbr> contest at
    <a title="Engineer is the annual technical fest of National Institute of Technology Karnataka, Surathkal" href="http://engineer.org.in/">Engineer 2011</a>.
</h2>
<div class="col-one dugout">

<h2><strong class="icon">&clubs;</strong>How do I participate?</h2>
<p>
  <a href="{{ config.webroot }}/signup">Sign up</a>! In this edition of KodeKombat, we are giving you a chance to craft the AI for the classic game of <b><a href="http://en.wikipedia.org/wiki/Pac-man">Pac-man</a></b>!
  Concieve the fiercest monsters <b>and</b> and the cleverest pacman you can and enter the mazes of menace!
  </p>

</div>
<div class="dugout col-two">
<h2><strong class="icon">$</strong>Sponsors</h2>
<p>
  We are currently testing our game platform to get it to be ready for the event in October, we expect a massive participation in this year's KodeKombat.
  Meanwhile, you can <a href="mailto:{{ config.email }}">get in touch</a> with us if you are looking to sponsor us.
</p>
</div>
<div class="clear" > </div>
<hr>
<div class="instructions">
  <div><span class="number">1 </span> Learn the ways, go through the <a href="tutorials">tutorials</a></div>
  <div><span class="number">2 </span> Hack up a bot <a href="{{ config.webroot }}/faq" title="NOT KIDDING!">in your favourite language</a></div>
  <div><span class="number">3 </span><a href="{{ config.webroot }}/upload">Upload</a> your AI program and <a href="{{ config.webroot }}/matches">enter the mazes</a></div>
  <div><span class="number">4 </span>May <a href="{{ config.webroot }}/scoreboard">glory</a> be thine!</div>
</div>

{% endblock %}

