<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    {% block head %}
    <title>{{ title | e }} {KodeKombat}</title>

    <link rel="stylesheet/less" href="{{ config.webroot }}/themes/{{ config.theme }}/screen.less" type="text/less">
    <script type="text/javascript" src="{{ config.webroot }}/js/less.min.js"></script>
    {% endblock %}
  </head>
  <body class="dark">

    <div id="container">
    {% block nav %}
      <ul id="nav">
        <li><a href="{{ config.webroot }}/game">Game</a></li>
        <li><a href="{{ config.webroot }}/matches">Matches</a></li>
        <li><a href="{{ config.webroot }}/scoreboard">Scoreboard</a></li>
        <li><a href="{{ config.webroot }}/download">Download</a></li>        
        <li><a href="{{ config.webroot }}/faq">FAQ</a></li>

        {% include "login.html" %}
      </ul>
    {% endblock %}
      <div id="content">
      {% block content %}{% endblock %}
      </div>
      <br>
      <div class="footer">
      { <span>&copy; 2011 &mdash; <a href="http://engineer.org.in/" target="_blank">Engineer NITK</a> &middot; <a href="{{ config.webroot }}/contacts">
contact</a> &middot;<a href="https://github.com/Comps-Engi/KodeKombat-game-2011">fork us on github</a></span> }
     </div>
    </div>
  </body>
</html>
