{% block match_table %}
  <table class="match_table fullwidth">
    <thead>
        <tr>
			<td>Match #</td>
			<td>Time</td>
            <td>Winner</td>
            <td>Loser</td>
        </tr>
    </thead>

    <tbody>
  {% for match in matches %}

    <tr>
		<td>{{ match.getId() }}</td>
		<td><a href="{{ match.getUrl() }}">{{ match.humanTime() }}</a></td>
        <td><a href="{{ match.winner.getProfileUrl() }}">{{ match.winner.getUsername() }}</a></td>
		<td><a href="{{ match.loser.getProfileUrl() }}">{{ match.loser.getUsername() }}</a></td>
</tr>
	{% endfor %}
	</tbody>
  </table>

{% endblock %}
