{% extends "layout.html" %}
{% block content %}
<header>
	{% include "logo.html" %}
</header>

<article>
<h2>Problem Statement</h2>
<p>
KodeKombat is an Artificial Intelligence programming contest. The game this year is a variation of Pacman. It is a two player game where in each player controls his pacman and four ghosts. They compete against each other to keep their pacman alive and get maximum number of pellets. The game ends when either of the pacman is eaten by any of the eight ghosts (opponent’s and the player’s) or when the number of moves is thousand.
</p>
<p>
The player’s bot has to read the state of the map from standard input and provide the moves for his pacman and ghosts to the standard output.
</p>

<p>
Languages accepted &mdash; Any language that can take input from standard input and print moves to standard output.
</p>

<h3>Input format</h3>
<ul>
<li>The player takes the input from the standard input.</li>
<li>First line has two integers representing number of rows and columns in the map state.</li>
<li>From the next line each row of the map is given.</li>
<li>The map has elements in character data type.</li>
	<ul>
		<li><code>A, B, C, D</code> &mdash; the ghosts controlled by the player</li>
		<li><code>a, b, c, d</code> &mdash; ghosts of the opponents</li>
		<li><code>P</code> &mdash; pacman controlled by the player</li>
		<li><code>p</code> &mdash; pacman of the opponent</li>
		<li><code>Q</code> &mdash; player's pacman when it has eaten power pellet</li>
		<li><code>q</code> &mdash; opponenet's pacman when it has eaten power pellet</li>
		<li><code>S</code> &mdash; If both the pacmen coincide and player has eaten power pellet</li>
		<li><code>s</code> &mdash; If both the pacmen coincide and opponent has eaten power pellet</li>
		<li><code>e</code> &mdash; Pellet</li>
		<li><code>E</code> &mdash; power pellet</li>
		<li><code>W</code> &mdash; Wall</li>
		<li><code>.</code> &mdash; eaten pellet</li>
	</ul>
</ul>

<h3>Output format</h3>
<ul>
<li>The output should be given to the standard output. It should consist of five integers ranging from 1 to 4- A B C D P ,Where A, B, C and D represent the moves of the ghosts and P that of the pacman.</li>
	<ul>
	<li><code>1</code> &mdash; up</li>
	<li><code>2</code> &mdash; down</li>
	<li><code>3</code> &mdash; left</li>
	<li><code>4</code> &mdash; right</li>
	</ul>
</ul>

<h3>Rules</h3>
<ul>
<li>Eating a pellet increases score by one</li>
<li>Eating a power pellet increases score by ten and all the ghosts become inactive for next ten moves, the pacman can eat the ghosts.</li>
<li>The ghosts cannot cross over.</li>
<li>The player who wins gets a bonus of 50 points</li>
</ul>
<h3>Submission of code</h3>
<ul>
<li>A compressed folder (tar or zip) consisting of the player’s code and the makefile.</li>
<li>Folder name, the compressed folder name should be the same as the executable i.e the players bot’s name.</li>
<li>The bot’s name should consist of only alphabets and should not exceed eight characters.</li>
<li>For further information please refer the <a href="{{ config.webroot }}/tutorial">tutorials</a>.</li>
</article>
<p><a href="{{config.webroot}}/pacman-kk-v0.1.zip"><b>Download the starter package</b></a> (Latest Upload: 5pm, 9th October, 2011)</p>
{% endblock %}
