<script type="text/javascript">
function formvalidate()
{
	var pname = document.getElementsByName("name")[0];
	if(pname.value=="" || pname.value==null)
	{
		alert("Please enter your name");
		pname.focus();
		return false;
	}

	var email = document.getElementsByName("email")[0];
	if(email.value=="" || email.value==null)
	{
		alert("Please enter your e-mail id");
		email.focus();	
		return false;
	}
	else
	{
		var patt = /^[A-Za-z0-9\.\-_]+@[A-Za-z0-9_-]+\.[a-z]+$/
		if(patt.test(email.value) == false)
		{
			alert('Invalid email-id');
			email.focus();
			return false;
		}
	}

	var contact = document.getElementsByName("contact")[0];
	if(contact.value=="" || contact.value==null)
	{
		alert("Please enter your contact number");
		contact.focus();
		return false;
	}
	else
	{
		var patt = /^[0-9\-]+$/
		if(patt.test(contact.value) == false)
		{
			alert('Invalid contact');
			contact.focus();
			return false;
		}
	}

	var uname = document.getElementsByName("uname")[0];
	if(uname.value=="" || uname.value==null)
	{
		alert("Please enter a user name");
		uname.focus();
		return false;
	}
	else
	{
		if(uname.value.length < 6 || uname.value.length > 10)
		{
			alert('Invalid username. Please choose a username between 6 and 10 characters');
			uname.focus();
			return false;
		}
	}

	var pass1 = document.getElementsByName("pass1")[0];
	if(pass1.value=="" || pass1.value==null)
	{
		alert("Please enter a password");
		pass1.focus();
		return false;
	}
	else
	{
		if(pass.value.length < 6 || pass.value.length > 10)
		{
			alert('Invalid password. Please choose a password between 6 and 10 characters');
			pass1.focus();
			return false;
		}
	}

	var pass2 = document.getElementsByName("pass2")[0];
	if(pass2.value=="" || pass2.value==null)
	{
		alert("Please retype your password");
		pass2.focus();
		return false;
	}
	else if(pass1.value != pass2.value)
	{
		alert("Passwords do not match");
		pass1.focus();
		return false;
	}
	document.forms["signup"].submit();
}

function passwordchk()
{
	var pass1 = document.getElementsByName("pass1")[0];
	var pass2 = document.getElementsByName("pass2")[0];
	if(pass1.value!="")
	{
		if(pass1.value != pass2.value)
			pass2.style.borderColor="red";
		else
			pass2.style.borderColor="green";
	}
}

</script>
</head>
<body>
<center>
<form id="signup" action="http://localhost/dge/newuser.php" method="post" onsubmit="return formvalidate()" >
<table>
<tr><th>Name</th><td><input type="text" name="name" /></td></tr>
<tr><th>E-mail id</th><td><input type="text" name="email" /></td></tr>
<tr><th>Contact No</th><td><input type="text" name="contact" /></td></tr>
<tr><th>Username</th><td><input type="text" name="uname" /></td></tr>
<!--<input type="button" value="Check Availability" />-->
<tr><th>Password</th><td><input type="password" name="pass1" /></td></tr>
<tr><th>Retype Password</th><td><input type="password" name="pass2" onkeyup="passwordchk()" /></td></tr>
</table>
<input type="reset" value="Reset" />
<input type="submit" value="Submit" />
</form>
