{% extends "layout.html" %}
{% block head %}
{{ parent() }}
<script type="text/javascript">
function formvalidate()
{
  var pname = document.getElementsByName("name")[0];
  if(pname.value=="" || pname.value==null)
  {
    alert("Please enter your name");
    pname.focus();
    return false;
  }

  var email = document.getElementsByName("email")[0];
  if(email.value=="" || email.value==null)
  {
    alert("Please enter your e-mail id");
    email.focus();  
    return false;
  }
  else
  {
    var patt = /^[A-Za-z0-9\.\-_]+@[A-Za-z0-9_-]+\.[a-z]+$/
    if(patt.test(email.value) == false)
    {
      alert('Invalid email-id');
      email.focus();
      return false;
    }
  }

  var contact = document.getElementsByName("contact")[0];
  if(contact.value=="" || contact.value==null)
  {
    alert("Please enter your contact number");
    contact.focus();
    return false;
  }
  else
  {
    var patt = /^[0-9\-]+$/
    if(patt.test(contact.value) == false)
    {
      alert('Invalid contact');
      contact.focus();
      return false;
    }
  }

  var uname = document.getElementsByName("uname")[0];
  if(uname.value=="" || uname.value==null)
  {
    alert("Please enter a user name");
    uname.focus();
    return false;
  }
  else
  {
    if(uname.value.length < 6 || uname.value.length > 10)
    {
      alert('Invalid username. Please choose a username between 6 and 10 characters');
      uname.focus();
      return false;
    }
  }

  var password = document.getElementsByName("password")[0];
  if(password.value=="" || password.value==null)
  {
    alert("Please enter a password");
    password.focus();
    return false;
  }
  else
  {
    if(pass.value.length < 6 || pass.value.length > 10)
    {
      alert('Invalid password. Please choose a password between 6 and 10 characters');
      password.focus();
      return false;
    }
  }

  var password_repeat = document.getElementsByName("password_repeat")[0];
  if(password_repeat.value=="" || password_repeat.value==null)
  {
    alert("Please retype your password");
    password_repeat.focus();
    return false;
  }
  else if(password.value != password_repeat.value)
  {
    alert("Passwords do not match");
    password.focus();
    return false;
  }
  document.forms["signup"].submit();
}

function passwordchk()
{
  var password = document.getElementsByName("password")[0];
  var password_repeat = document.getElementsByName("password_repeat")[0];
  if(password.value!="")
  {
    if(password.value != password_repeat.value)
      password_repeat.style.borderColor="red";
    else
      password_repeat.style.borderColor="green";
  }
}
</script>
{% endblock %}
{% block content %}
<form id="signup" action="{{ config.webroot }}/user" method="post" onsubmit="return formvalidate()" >
<label>Name</label><input type="text" name="name">
<label>E-mail id</label><input type="text" name="email" >
<label>Contact No</label><input type="text" name="contact">
<label>Username</label><input type="text" name="username">
<!--<input type="button" value="Check Availability" />-->
<label>Password</label><input type="password" name="password">
<label>Retype Password</label><input type="password" name="password_repeat" onkeyup="passwordchk()">
<label>&nbsp;</label><input type="submit" value="Submit &rarr;" >
</form>
{% endblock %}
